<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>odinioswallet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E00F9D620DCD6C700328F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E00F9EA20DCD6CC00328F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E00F9F520DCD6CD00328F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
